<h1>Please enter a new definition:</h1>
<form class="form-inline form" action="/words/<%= @string_form %>" method="post">
  <div class="form-group">
    <label for="part_of_speech">Part of speech:</label>
    <input type="text" id="part_of_speech" name="part_of_speech" class="form-control">
    <label for="meaning">Meaning:</label>
    <input type="text" id="meaning" name="meaning" class="form-control">
  </div>
  <button type="submit" class="btn btn-info">Submit</button>
</form>

<a href="/" class="home">Dictionary</a>
