<h1>Welcome to your Dictionary</h1>
<a href="/words/new" type='button' class='btn btn-success'>Add word</a>
<ul>
  <% @words.each() do |word| %>
    <li><a href="/words/<%= word.string_form() %>"><%= word.string_form() %></a></li>
  <% end %>
</ul>
