<h1>Welcome to your Dictionary</h1>

<ul>
  <% @words.each() do |word| %>
    <li class="list-group-item">
      <a class="word" href="/words/<%= word.string_form() %>"><%= word.string_form() %></a>
      <a id = "<%= word.string_form() %>_remove" href="/removeword/<%= word.string_form() %>" type="button" class="btn btn-danger remove">remove</a>
    </li>
  <% end %>
</ul>

<a href="/words/new" type='button' class='btn btn-success btn-add'>Add word</a>
