<h1><%= @word.string_form() %>
<a type="button" class="btn btn-info btn-add" href="/words/<%= @word.string_form() %>/definitions/new">Add definition</a>
</h1>
<hr>
<ul>
  <% @word.definitions.each() do |definition| %>
    <li class="list-group-item"><mark><%= definition.part_of_speech() %></mark>
      <ul>
        <li><%= definition.meaning() %></li>
      </ul>
    </li>
  <% end %>
</ul>
<a href="/" class="home">Dictionary</a>
