<h1>Please enter the new word:</h1>
<form class="form-inline form" action="/success" method="post">
  <div class="form-group">
    <label for="word">Word:</label>
    <input type="text" id="word" name="word" class="form-control">
  </div>
  <button type="submit" class="btn btn-success">Submit</button>
</form>

<a href="/" class="home">Dictionary</a>
