<form action="/success" method="post">
  <div class="form-group">
    <input type="text" name="word" class="form-control">
  </div>
  <button type="submit" class="btn btn-success">Submit</button>
</form>
